.user-list-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-x: auto; /* Permite el desplazamiento horizontal en pantallas pequeñas */
}

.user-list-container h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #343a40;
  text-align: center;
}

.user-list-table {
  width: 100%;
  border-collapse: collapse;
}

.user-list-table th,
.user-list-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
  white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
}

.user-list-table th {
  background-color: #007bff;
  color: gray;
  font-weight: bold;
}

.user-list-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.actions {
  display: flex;
  gap: 10px;
}

.actions button {
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.actions .edit {
  background-color: #28a745;
  color: white;
}

.actions .edit:hover {
  background-color: #218838;
}

.actions .delete {
  background-color: #dc3545;
  color: white;
}

.actions .delete:hover {
  background-color: #c82333;
}

.actions .icon {
  margin-right: 8px;
}

/* Estilos responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .user-list-table th,
  .user-list-table td {
    padding: 8px 10px;
  }

  .actions button {
    padding: 6px 90px;
    
  }

  .user-list-container h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .user-list-container h2 {
    font-size: 1.2rem;
  }

  .user-list-table {
    display: block;
  }

  .user-list-table thead {
    display: none; /* Oculta los encabezados en móviles */
  }

  .user-list-table tbody tr {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .user-list-table td {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
    text-align: left;
    white-space: normal; /* Permite que el texto se ajuste */
  }

  .user-list-table td:last-child {
    border-bottom: 0; /* Elimina la última línea divisoria */
  }

  .user-list-table td::before {
    content: attr(data-label);
    font-weight: bold;
    color: #007bff;
  }

  .actions {
    flex-direction: column;
    align-items: center;
  }

  .actions button {
    margin-top: 5px;
  }

  

}

